body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(img/tile.jpg);
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Permanent Marker', cursive;
}

#taskForm {
  background-image: url("img/formbg.jpg");
  background-size: auto;
  background-repeat: repeat;
  padding: 20px;
  border-radius: 15px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#taskBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}


.board-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  color: black;
  margin-top: 20px;
}

.form-control {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;

  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.task {
  background-image: url("img/notebg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  width: 200px;
  height: 250px;
  padding: 40px 15px 15px 15px;
  margin: 5px 0;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  background:#333;
  border: none;
  font-size: 18px;
  color: red;
  cursor: pointer;
  z-index: 2;
}

